<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row mt20">
            <div class="col-md-6 offset-md-3">
               
                <mat-card>

                <div class="container text-center">
                    <img src="../../assets/logo.png" alt="">
                  </div>

                  <h1 class="text-center">Login</h1>

                  <form (ngSubmit)="formSubmit()">
                    <p>
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Username</mat-label>
                            <input 
                            [(ngModel)]="loginData.username"
                            name="username"
                            required 
                             matInput placeholder="Enter here" />
                             <mat-hint>Valid User Name</mat-hint>
                          </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Password</mat-label>
                            <input
                            [(ngModel)]="loginData.password"
                            name="password"
                            type="password" required 
                             matInput placeholder="Enter here">
                             <mat-hint>Valid User Name</mat-hint>
                          </mat-form-field>
                    </p>
                    <div class="container text-center">
                        <button type="submit" mat-raised-button color="primary">Register</button>
                        <button class="ml20" mat-raised-button color="accent">Clear</button>
                    </div>
               
                  </form>
                </mat-card>
            </div>
        </div>
    </div>
</div>